
.btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px; /* Define um raio de borda para criar uma aparência arredondada */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
    margin-right: auto;
}


.btn:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px; /* Adiciona espaçamento interno */
    text-align: left;
    width: 25%; /* Define a largura das colunas */
}
